<div class="col-md-4">
    <div class="card bg-success border-light shadow mb-3" style="max-width: 18rem; height: 22rem;">
        <div class="card-header text-white">
            <h2 id="name">nameHere</h2>
            <h3><span class="fas fa-air-freshener"></span> Intern</h3>
        </div>
        <div class="card-body bg-light align-content-center flex-wrap">
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="id">idHere </li>
                    <li class="list-group-item" id="email">emailHere </li>
                    <li class="list-group-item" id="property">propertyHere </li>
                </ul>
            </div>
        </div>
    </div>
</div>